body {
  margin: 0;
  padding: 0;
  border-top: 10px solid blueviolet;
  font-family: sans-serif;
}
* {
  color: blueviolet;
}

.content-container {
  width: 800px;
  margin: 0 auto;
}

.header-main {
  font-size: 24px;
  font-style: italic;
  text-transform: uppercase;
}

.header-main {
  font-size: 40px;
  font-style: italic;
}

.header-main::after {
  content: "TOP";
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: -10;
  right: -20;
}

h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
p {
  font-size: 22px;
  line-height: 1.5;
  color: #444;
}
li {
  font-size: 20px;
}
article header p {
  font-style: italic;
  font-size: 18px;
}

#copy-right {
  font-size: 10;
  color: black;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style-type: none;
}
.toppest-header {
  background-color: #f4f4f4;
  margin-top: 0px;
}
aside {
  background-color: #f4f4f4;
  border-top: 4px solid #ad18a8;
  border-bottom: 4px solid #ad18a8;
  width: 500px;
  position: relative;
}
li:first-child {
  font-weight: 800;
}
li:last-child {
  font-style: italic;
}
a:link {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: #ff7b00;
  text-decoration: underline;
}
.imag-containt {
  height: auto;
  width: 100%;
}
nav a:link {
  display: inline-block;
  margin-left: 10px;
  text-transform: capitalize;
}
nav {
  text-align: center;
  font-size: 18px;
}

h1::first-letter {
  font-style: normal;
}
button {
  padding: 20px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
}
button::first-letter {
  color: red;
}

.aside-image {
  height: 75px;
  width: 75px;
}

.author-img {
  float: left;
  margin-bottom: 20px;
}
.author {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}
