* {
  box-sizing: border-box;
}

body {
  color: #444;
  background-color: #e4e4e4;
  font-family: sans-serif;
  line-height: 1.4;
}
.content {
  border: 4px solid black;
  text-align: left;
  width: 750px;
  margin: 0 auto;
  position: relative;
}

.header {
  margin-top: 0;
  height: 50px;
  font-size: 20px;
  background-color: #d6d2d2c2;
  text-align: center;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.content__sale {
  background-color: #ec2f2f;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  padding: 8px;
  top: -30px;
  left: -20px;
}

#price {
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 0px;
  float: left;
  color: black;
}
.more-info:active,
.more-info:link {
  color: #444;
  font-weight: 600;
}
.more-info:hover {
  text-decoration: none;
}
.list-deta {
  list-style: square;
  text-transform: capitalize;
  font-weight: 500;
  padding-left: 10px;
  margin-left: 20px;
}
.list-deta li {
}
.end-button {
  background-color: black;
  color: #f4f4f4;
  border: none;
  width: 750px;
  font-weight: bold;
  height: 40px;
}
.end-button:hover {
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
  color: black;
  background-color: #444;
  border-top: 4px solid black;
  margin-top: 0px;
}
.color-boxes {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}
.content__black {
  background-color: #444;
}

.content__red {
  background-color: #ff0000c2;
}

.content__green {
  background-color: #0080009d;
}

.content__blue {
  background-color: lightblue;
}

.content__brown {
  background-color: brown;
}
.content__yellow {
  background-color: yellow;
}
.content-img {
  float: left;
  display: block;
  height: 254px;
}

.cart-info {
  float: right;
  text-transform: uppercase;
  font-size: small;
  color: #413e3ea1;
  font-size: 12px;
  padding-top: 15px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.price-dis {
  clear: both;
  padding-top: 20px;
}

.price-part {
  float: left;
  width: 243px;
  padding-left: 40px;
}
aside {
  padding-top: 20px;
  float: left;
  width: 243px;
  padding-left: 40px;
}
aside h2 {
  text-transform: uppercase;
  font-size: medium;
  font-weight: bold;
}
